folder/ABC Corp: Weekly Orders Report.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ABC Corp: Data Warehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABC Corp: Data Warehouse": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-30T18:07:07.023Z",
  "id": "xuOnMcH2qq1xMlPc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ABC Corp: Weekly Orders Report",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1z7F8rEy4FaAGb",
          "mode": "list",
          "cachedResultName": "Beginner Base",
          "cachedResultUrl": "https://airtable.com/app1z7F8rEy4FaAGb"
        },
        "table": {
          "__rl": true,
          "value": "tbl7sdVjlV782NCgS",
          "mode": "list",
          "cachedResultName": "Processing Orders",
          "cachedResultUrl": "https://airtable.com/app1z7F8rEy4FaAGb/tbl7sdVjlV782NCgS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "orderID": "={{ $json.orderID }}",
            "employeeName": "={{ $json.employeeName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        -112
      ],
      "id": "0d84d122-f2a7-4e3b-bc59-3311101a976a",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "zSu8SJsj18PswsCt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8af92b6d-c802-42df-a717-36fe46dace10",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "=processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "fa3c34a7-5fe5-44a0-8f0b-385936d4c07f",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        -16
      ],
      "id": "41c33257-839a-4fd6-90b8-0b453bdb706d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca74c40a-fefe-4c90-8730-e4fbf5dd3b7d",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "1aea82ea-2422-4d07-87b6-83232fff89ce",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -112
      ],
      "id": "a5b473ea-dbc0-41f6-b489-35ac0fecb31d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        96
      ],
      "id": "8849457d-6548-4f7d-8656-4fd510d5978b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('ABC Corp: Data Warehouse').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        240,
        96
      ],
      "id": "56b2b6a4-1403-42eb-953b-028d86d45ac1",
      "name": "Discord",
      "webhookId": "7afb3da6-e6b1-4895-abfc-63cfeab3ba97",
      "credentials": {
        "discordWebhookApi": {
          "id": "CTqW200FGw1hYYKR",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -16
      ],
      "id": "12db2325-159c-4fa6-a900-c727ab5701d7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -112
      ],
      "id": "0683d719-b8cc-4907-b850-8e3d7588f9d4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "b14485da1eec32679cf4858e03aeaa24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -16
      ],
      "id": "a663dce0-f21d-41b2-a781-c0684004d30b",
      "name": "ABC Corp: Data Warehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zCZ884co91gZVTR5",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-12-30T18:07:07.032Z",
      "createdAt": "2025-12-30T18:07:07.032Z",
      "role": "workflow:owner",
      "workflowId": "xuOnMcH2qq1xMlPc",
      "projectId": "sSYd8awhzL2oziun"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T01:58:13.001Z",
  "versionId": "d93ac1b5-7b0d-46d3-8f75-10c8be845999"
}