folder/Content Engine Part 1: Reddit Scaper Social Posting.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Set Search Criteria": {
      "main": [
        [
          {
            "node": "Search Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Reddit": {
      "main": [
        [
          {
            "node": "Filter Upvotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Upvotes": {
      "main": [
        [
          {
            "node": "Send Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Requests": {
      "main": [
        [
          {
            "node": "Set Search Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-01T23:36:52.539Z",
  "id": "Hj5htf9tOhq0Xv6L",
  "isArchived": false,
  "meta": null,
  "name": "Content Engine Part 1: Reddit Scaper Social Posting",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcff4470-8383-499e-b5d3-2a09932fbb47",
              "name": "Subreddit",
              "value": "={{ $json.body.subreddit }}",
              "type": "string"
            },
            {
              "id": "971e27ae-2663-43da-9b2a-15452fb730ad",
              "name": "Keyword",
              "value": "={{ $json.body.topic }}",
              "type": "string"
            },
            {
              "id": "96fce7e3-c7c5-4022-888a-c04e531d92a6",
              "name": "Sort",
              "value": "={{ $json.body.sortType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        48
      ],
      "id": "34b0d23e-788d-41ba-9a61-ee054a647f19",
      "name": "Set Search Criteria"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "={{ $json.Subreddit }}",
        "keyword": "={{ $json.Keyword }}",
        "limit": 15,
        "additionalFields": {
          "sort": "={{ $json.Sort }}"
        }
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        -496,
        48
      ],
      "id": "d3092d28-3179-46f1-aefc-436237ec9255",
      "name": "Search Reddit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d8cb1c8-12ff-404f-a9f4-5a630edb24fb",
              "leftValue": "={{ $json.ups }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        48
      ],
      "id": "bf221fed-fcb0-4e34-b8c4-c59a5a908488",
      "name": "Filter Upvotes"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -16,
        32
      ],
      "id": "7ed2e839-400f-4504-a1e3-8f646de44158",
      "name": "Send Posts"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ddd0e504-59cb-46fd-8cac-69fde956a4ae",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -976,
        48
      ],
      "id": "88cc6fbc-901e-4129-9ec0-ab60e9b04262",
      "name": "Receive Requests",
      "webhookId": "ddd0e504-59cb-46fd-8cac-69fde956a4ae"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-01T23:36:52.541Z",
      "createdAt": "2026-01-01T23:36:52.541Z",
      "role": "workflow:owner",
      "workflowId": "Hj5htf9tOhq0Xv6L",
      "projectId": "sSYd8awhzL2oziun"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T02:17:13.485Z",
  "versionId": "6a2ac5df-b978-47b6-88ff-7f416dea0845"
}