folder/YouTube Analysis.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "YouTube1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-02T00:33:17.193Z",
  "id": "t9NyqrjBZTMNtOOO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "YouTube Analysis",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.id.videoId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        848,
        80
      ],
      "id": "be8a1743-027d-4d63-b1f9-b17f9404badb",
      "name": "YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "VuH5lzFXMYr2Qffh",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8bc4396b-0ca3-4c3d-b103-f785b67845a5",
              "leftValue": "={{ $json.contentDetails.duration.length }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1072,
        80
      ],
      "id": "77bfbb5b-b6fa-491f-8144-e04aee7091f5",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        80
      ],
      "id": "7fc1b7f5-dbb9-4bbc-a608-ad94a5cda94e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        192
      ],
      "id": "b98dcc1b-b549-4d7b-83ab-3ade28100186",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY",
          "mode": "list",
          "cachedResultName": "Youtube Trend Detector Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Channels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        80
      ],
      "id": "1610c1b9-5b18-4e6d-92b6-a6228d5ca69d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eOPhFUrfwo2AgnTD",
          "name": "NWA Boost:Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee695c6-f00b-425e-9b2d-8d7067b70a64",
              "name": "average",
              "value": "={{    $('Get row(s) in sheet2').all().reduce((sum, item) => sum + Number(item.json.views || 0), 0)    / $('Get row(s) in sheet2').all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        576
      ],
      "id": "36c31164-0afd-49c4-83ac-c466cad51219",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<tr>\n  <td width=\"50%\" valign=\"top\" style=\"padding:5px;\">\n    {{\n      '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border-radius:4px;overflow:hidden;\">'\n      .concat('<tr><td style=\"padding:0;\">')\n      .concat('<img src=\"').concat($json.large_thumb).concat('\" alt=\"').concat($json.title)\n      .concat('\" style=\"width:100%;height:310px;object-fit:cover;object-position:center;\">')\n      .concat('</td></tr><tr><td style=\"padding:10px;font-family:Arial,sans-serif;\">')\n      .concat('<p style=\"font-size:14px;font-weight:bold;color:#222;margin:0 0 5px;\">')\n      .concat($json.title).concat('</p>')\n      .concat('<p style=\"font-size:12px;color:#666;margin:0 0 3px;\">')\n      .concat($json.channel_title).concat('</p>')\n      .concat('<p style=\"font-size:12px;color:#666;margin:0 0 3px;\"><strong>Multiple:</strong> ')\n      .concat(($json.views/$json.average).round(2)).concat('</p>')\n      .concat('<p style=\"font-size:12px;color:#666;margin:0;\">Duration: ')\n      .concat($json.duration).concat(' seconds</p>')\n      .concat('</td></tr></table>')\n    }}\n  </td>\n</tr>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        336,
        368
      ],
      "id": "f55c26a1-366d-4921-bb4f-9d2f5f4fbc52",
      "name": "HTML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        480
      ],
      "id": "f787506d-d46a-4064-92b2-7d2894c7bb85",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a57cb2-1cc9-4643-9f7d-5a75a292af07",
              "leftValue": "={{ $json.views }}",
              "rightValue": "={{ \n  $('Get row(s) in sheet2').all().reduce((sum, item) => sum + Number(item.json.views || 0), 0) \n  / $('Get row(s) in sheet2').all().length\n}}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        576
      ],
      "id": "d7c6ea91-2772-4df3-9331-97ffc2654608",
      "name": "Filter1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY",
          "mode": "list",
          "cachedResultName": "Youtube Trend Detector Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Channels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        480
      ],
      "id": "8edd17f2-239b-4813-ba1d-72c21fb7136e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eOPhFUrfwo2AgnTD",
          "name": "NWA Boost:Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jimbrown131@gmail.com",
        "subject": "Daily Digest: Trending YouTube Videos",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* reset for email clients */\n    body, table, td { margin:0; padding:0; }\n    img { border:0; display:block; }\n    .wrapper { width:100%; background:#f7f7f7; padding:20px 0; }\n    .container { width:600px; margin:0 auto; background:#fff; border-radius:4px; overflow:hidden; }\n    .header { padding:20px; font-family:Arial,sans-serif; }\n    .header h2 { font-size:20px; margin:0; color:#222; }\n    .grid { width:100%; border-spacing:10px; }\n  </style>\n</head>\n<body>\n  <table class=\"wrapper\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td align=\"center\">\n        <table class=\"container\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td class=\"header\">\n              <h2>YouTube Trend Detector Digest, {{ $now.toLocaleString() }}</h2>\n            </td>\n          </tr>\n          <tr>\n            <td>\n              <table class=\"grid\" cellpadding=\"0\" cellspacing=\"0\">\n                {{ $('HTML').all().map(item => item.json.html) }}\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        368
      ],
      "id": "2e7e4b66-3157-47b1-843a-170e99d31051",
      "name": "Send a message",
      "webhookId": "8d76f2ab-039a-472c-985d-b9006434b5f4",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "dmIKVw4RuLHhcC3Y",
          "name": "Nwa Boost:Gmail"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY",
          "mode": "list",
          "cachedResultName": "Youtube Trend Detector Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Sheet }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        336,
        576
      ],
      "id": "23bf7633-2a6e-4e9e-88e9-f998ea972ec7",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eOPhFUrfwo2AgnTD",
          "name": "NWA Boost:Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY",
          "mode": "list",
          "cachedResultName": "Youtube Trend Detector Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QppjUyzfU9BUX8EH6ol1_Q_xMO1ikaVO7LxpNVVB1MY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Get row(s) in sheet').item.json.Sheet }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "published_at": "={{ $json.snippet.publishedAt }}",
            "title": "={{ $json.snippet.title }}",
            "views": "={{ $json.statistics.viewCount }}",
            "likes": "={{ $json.statistics.likeCount }}",
            "comments": "={{ $json.statistics.commentCount }}",
            "favorites": "={{ $json.statistics.favoriteCount }}",
            "description": "={{ $json.snippet.description }}",
            "tags": "={{ $json.snippet.tags }}",
            "duration": "={{ $json.contentDetails.duration }}",
            "definition": "={{ $json.contentDetails.definition }}",
            "small_thumb": "={{ $json.snippet.thumbnails.default.url }}",
            "med_thumb": "={{ $json.snippet.thumbnails.medium.url }}",
            "large_thumb": "={{ $json.snippet.thumbnails.high.url }}",
            "standard_thumb": "={{ $json.snippet.thumbnails.standard.url }}",
            "channel_id": "={{ $('YouTube1').item.json.snippet.channelId }}",
            "channel_title": "={{ $('YouTube1').item.json.snippet.channelTitle }}",
            "embed_html": "={{ $json.player.embedHtml }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "views",
              "displayName": "views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "favorites",
              "displayName": "favorites",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "definition",
              "displayName": "definition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "small_thumb",
              "displayName": "small_thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "med_thumb",
              "displayName": "med_thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "large_thumb",
              "displayName": "large_thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "standard_thumb",
              "displayName": "standard_thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel_title",
              "displayName": "channel_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embed_html",
              "displayName": "embed_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1296,
        80
      ],
      "id": "4bf8abba-fbfd-4e49-93f3-e0e3d1a323ba",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eOPhFUrfwo2AgnTD",
          "name": "NWA Boost:Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 5,
        "filters": {
          "channelId": "={{ $json['Channel ID'] }}"
        },
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        624,
        80
      ],
      "id": "6b934bf1-ce16-4daf-9d4e-6ace15feb68e",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "VuH5lzFXMYr2Qffh",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ],
      "id": "825267ef-5297-47ea-9818-ac6320c6b38a",
      "name": "When clicking Test workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-02T00:33:17.195Z",
      "createdAt": "2026-01-02T00:33:17.195Z",
      "role": "workflow:owner",
      "workflowId": "t9NyqrjBZTMNtOOO",
      "projectId": "sSYd8awhzL2oziun"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-01T03:48:15.717Z",
      "createdAt": "2026-01-01T03:48:15.717Z",
      "id": "4nuqIoyKixi53IzA",
      "name": "NWA Boost"
    },
    {
      "updatedAt": "2026-01-01T03:48:15.733Z",
      "createdAt": "2026-01-01T03:48:15.733Z",
      "id": "fsf5LA8D3PMC2heZ",
      "name": "No LLM Used"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T02:20:23.596Z",
  "versionId": "e1d8b246-ca1a-46ce-be37-bfff8052ee26"
}